<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
    <dict>
        <key>ProgramArguments</key>
        <array>
            <string>/bin/bash</string>
            <string>/Library/Scripts/call-jamf-policy-laps.sh</string>
        </array>
        <key>StartCalendarInterval</key>
        <dict>
            <key>Weekday</key>
            <integer>1</integer>
            <key>Minute</key>
            <integer>30</integer>
            <key>Hour</key>
            <integer>10</integer>
        </dict>
        <key>Label</key>
        <string>lapsForMac</string>
        <key>RunAtLoad</key>
        <false/>
    </dict>
</plist>